@import "../../styles/variables.scss";

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.proceedToSignup {
  text-align: center;
  animation: fadeIn 1s ease;

  h2 {
    font-family: $bp-font-primary;
    font-size: 32px;
    padding: 0 4rem;
    line-height: 41.6px;
  }

  p {
    font-size: 16px;
    padding: 0 6rem;
    line-height: 22.4px;

    a {
      color: $bp-brand-primary;
      text-decoration: none;
    }
  }
}
