@import "../../styles/variables.scss";

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.proceedToSignup {
  text-align: center;
  animation: fadeIn 1s ease;

  h2 {
    font-family: $bp-font-primary;
    font-size: 32px;
    padding: 0 2rem;
    line-height: 41.6px;
    color: $bp-brand-primary;
  }

  p {
    font-size: 16px;
    padding: 0 3rem;
    line-height: 22.4px;
    color: $bp-text-darksecondary;

    a {
      color: $bp-brand-primary;
      font-weight: 600;
    }
  }
}
