@import "../../styles/variables.scss";

.homePageLayout {
  background-color: $bp-brand-primary;
  position: relative;
  height: 32.9rem;
  width: 100%;

  img {
    width: 15.2rem;
    position: absolute;
    bottom: -8rem;
    left: 25%;
    right: 25%;
  }
}
