@import "../../styles/variables.scss";

.homePageLayout {
  img {
    width: 15.2rem;
  }

  .elipseDecor {
    background-color: $bp-brand-primary;
    border-radius: 150%;
    width: 120%;
    position: absolute;
    top: -15rem;
    left: -5rem;
    height: 40rem;
  }

  .brainImg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .childrenWrapper {
    margin-top: 180px;
  }
}
