$bp-brand-primary: #460de8;
$bp-brand-secondary: #fafafa;
$bp-brand-tertiary: #ffffff;
$bp-utility-success: CHANGE;
$bp-utility-danger: CHANGE;
$bp-utility-warning: CHANGE;
$bp-utility-info: CHANGE;
$bp-utility-gray50: CHANGE;
$bp-utility-gray100: CHANGE;
$bp-utility-gray150: CHANGE;
$bp-text-dark: CHANGE;
$bp-text-light: CHANGE;
$bp-text-darksecondary: CHANGE;
$bp-text-lightsecondary: CHANGE;
$bp-text-darkplaceholder: CHANGE;
$bp-text-lightplaceholder: CHANGE;
