$bp-brand-primary: #f37022;
$bp-brand-secondary: #fafafa;
$bp-brand-tertiary: #ffffff;
$bp-utility-success: #049109;
$bp-utility-danger: #910404;
$bp-utility-warning: #916104;
$bp-utility-info: #045591;
$bp-utility-gray50: CHANGE;
$bp-utility-gray100: CHANGE;
$bp-utility-gray150: CHANGE;
$bp-text-dark: #161313;
$bp-text-light: #fafafa;
$bp-text-darksecondary: #636363;
$bp-text-lightsecondary: #bebebe;
$bp-text-darkplaceholder: #646464;
$bp-text-lightplaceholder: #dddddd;
