.dashboardNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 0;
  margin-bottom: 10px;
  background-color: #fff;

  .profileIcon {
    background-color: #fcefe8;
    border-radius: 50%;
  }
}
