.homeNav {
  position: relative;
  z-index: 2;
  ul {
    padding: 4rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;

    .navText {
      font-size: 20px;
      color: #fff;
    }

    .backBtn {
      background-color: #fff;
      color: #000;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      padding: 1.5rem;
      font-size: 20px;
    }

    .infoIcon {
      font-size: 25px;
      color: #fff;
    }
  }
}

.backBtn {
  width: 40px;
  height: 40px;
}
