@import "../../../styles/variables.scss";

.splashScreen {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .pulse {
    border-radius: 50%;
  }
  .pulseLight {
    border: 3rem solid rgba(243, 112, 34, 0.05);
  }
  .pulseMedium {
    border: 3rem solid rgba(243, 112, 34, 0.1);
  }
  .pulseDark {
    background-color: rgba(243, 112, 34, 0.15);
  }

  .link {
    text-align: center;
    text-decoration: none;
    color: $bp-brand-primary;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
}
