@import "../../styles/variables.scss";

.subjectSection {
  margin: 4rem 0;

  .subjectHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      color: $bp-text-darksecondary;
      font-size: 16px;
      font-weight: 400;
      font-family: "Helvetica Neue";
    }

    a {
      color: $bp-brand-primary;
      font-weight: 500;
      font-size: 16px;
      text-decoration: none;
      font-family: "Helvetica Neue";
    }
  }

  .subjects {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    overflow-x: auto;
    width: 100%;
    white-space: nowrap;
  }
}
