@import "../../styles/variables.scss";

@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.splashScreen {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeInFromBottom 1s ease;

  h2 {
    color: $bp-brand-primary;
    font-size: 28px;
    line-height: 36.4px;
    font-weight: 400;
    font-family: $bp-font-primary;
  }

  p {
    font-size: 18px;
    color: $bp-text-darksecondary;
  }
}
