@import "../../styles/variables.scss";

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.formSignup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  animation: fadeIn 1s ease;

  input {
    background-color: #fafafa;
    border-radius: 12px;
    color: #646464;
    padding: 20px;
    font-size: 15px;
    border: none;
    outline: none;
  }
}
